body{
    background-color: rgb(59, 169, 59);
    /* background-image: url('images/bg/liane.jpg'); */

    margin: 0;
}
*{
    box-sizing: border-box;
}
.toplink{
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}

.toplink a{
    color: azure;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}

.toplink a:hover{
    color:  rgb(17, 17, 17);
    background-color:rgb(50, 13, 145);
    text-decoration: none;
}

.toplink-left{
    float:left;
}

.banner{
    background-color: rgb(83, 81, 78);
    padding: 20px;
    text-align: center;
}

.row:after{
    content: " ";
    display: block;
    clear: both;
}

.content{
    float: left;
    width: 70%;
    padding: 15px;
}

.side_bar{
    float: left;
    width: 30%;
    padding: 15px;
}

.footer{
    background-color: rgb(212, 137, 24);
    padding: 20px;
    text-align:end;
}

h2{
    text-align: left; 
    color: rgb(17, 194, 120); 
    text-decoration: none; 
    text-transform: uppercase; 
    font-style: normal;
    font-weight: bold;
}
table{
    border: 1px solid #373737;
    border-collapse: collapse;
    width: 70%;
}
td{
    border: 1px solid #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(0, 0, 0, 0.9);
    color: azure;
    border: 1px solid #373737;
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: rgb(192, 186, 240);
}
tr:hover{
    background-color: rgb(246, 247, 193);
}


.contacts_form label{
    font-size: 1.8em;
}

input[type=text],[type=email], textarea{
    width: 60%;
    padding: 12px 20px;
    font-size: 1.6em;
    border-radius: 4px;
    border: 2px solid #424242;
    box-sizing: border-box;
    margin: 8px 0;
}

input[type=submit]{
    width: 40%;
    padding: 12px 20px;
    font-size: 1.6em;
    border-radius: 4px;
    background-color: blue;
    color: azure;
    box-sizing: border-box;
    margin: 8px 0;
}